* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

#wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1{
    text-align:center;
    padding-bottom:100px;
}

.view {
  width: 600px;
  height: 150px;
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
}

.slider {
  display: flex;
  width: 200%;
  height: 100%;
  transform: translateX(-150px);
  transition: transform 0.5s ease;
}

.slide {
  display: flex;
  width: 25%;
}

.slide img {
  width: 100%;
}

.btns {
}

.btn {
  position: absolute;
  top: 67%;
  background: none;
  border: none;
  outline:none;
  color: #55e689;
  font-size: 2.5rem;
  z-index: 1;
  cursor:pointer;
  /* transition:all 0.2s ease; */
}

.btn[name="prev"] {
    left: -40px;
  }
.btn[name="next"] {
  right: -40px;
}

.btn:hover {
  transform: scale(1.1);
}
